*{margin:0;padding:0;}
ul,li{list-style:none;}
body,html{height:100%;width:100%;}
#app{height:100%;}
.ls_head{width:100%;background:#217FBD;height:18rem;padding-top:5rem;}
.ls_head .box{width:100%;height:5rem;display:flex;}
.ls_head .box .box1{height:5rem;padding-left:2rem;flex:3;}
.ls_head .box .box1 .usershow{width:5rem;height:5rem;border-radius:50%;background:white;padding:0.15rem;}
.ls_head .box .box1 .usershow>span{display:inline-block;width:4.7rem;height:4.7rem;background:#DCDCDC;border-radius:50%;font-size:4rem;text-align:center;line-height:4.7rem;}
.ls_head .box .box1 .usershow>span>img{width:100%;height:100%;border-radius:50%;text-align:center;vertical-align:baseline;}
.ls_head .box .box2{height:5rem;flex:7;padding-right:0.533333rem;}
.ls_head .box .box2>.username_box{text-align:right;font-size:2rem;color:#fff;}
.ls_head .box .box2>.username_box>span{display:inline-block;width:6rem;height:2rem;border:1px solid #fff;border-radius:1rem;font-size:0.346667rem;text-align:center;line-height:2rem;}
.ls_head .list{display:flex;height:2.32rem;padding-top:1.133333rem;}
.ls_head .list>div{flex:1;text-align:center;font-size:1.5rem;line-height:2rem;color:white;font-style:normal;}
.ls_head .list>div>i{color:#fff;font-weight:bold;font-size:1.5rem;}



.m_register{height:100%;width:100%;display:flex;flex-direction:column;}
.m_head{width:100%;background:#217FBD;height:18rem;padding-top:4rem;}


.m_head .box{width:100%;height:5rem;display:flex;}
.m_head .box .box1{height:5rem;padding-left:2rem;flex:2;}
.m_head .box .box1 .usershow{width:5rem;height:5rem;border-radius:50%;background:white;padding:0.15rem;}
.m_head .box .box1 .usershow>span{display:inline-block;width:4.7rem;height:4.7rem;background:#DCDCDC;border-radius:50%;text-align:center;line-height:4.7rem;}


.m_head .box .box2{height:5rem;flex:8;display:flex;padding-left:2rem;}

.m_head .box .box2 .z_register{flex:1;width:8rem;height:3rem;border:0.10933rem solid white;border-radius:1.5rem;text-align:center;line-height:3rem;color:white;margin-top:2rem;font-size:1.5rem;}

.m_head .box .box2 .z_login{flex:1;width:8rem;height:3rem;border:0.10933rem solid white;border-radius:1.5rem;text-align:center;line-height:3rem;color:white;margin-top:2rem;margin-left:0.5rem;font-size:1.5rem;}

.m_content{overflow-x:hidden;flex:1;}
.m_content .main{height:100%;}
.m_content .main li{height:5rem;border-bottom:0.13333rem solid #F1F1F1;line-height:5rem;padding-right:1rem;padding-left:1.5rem;font-size:1.5rem;}
.m_content .main li:nth-child(3){height:5.3rem;border-top:0.3rem solid #F1F1F1;border-bottom:0.133333rem solid #F1F1F1;}
.m_content .main li>.iconfont{font-size:1rem;float:right;}
#registerFoot>div{}



#my_popup{width:100%;display:flex;height:15rem;}
#my_popup>div{flex:1;text-align:center;font-size:1rem;padding-top:3rem;color:#fff;line-height:2rem;}
#my_popup>div>i{display:inline-block;width:5rem;height:5rem;border-radius:50%;font-size:3rem;line-height:5rem;text-align:center;}
#my_popup>div:nth-child(1)>i{background:#265CFF;color:#fff;}
#my_popup>div:nth-child(2)>i{background:#40FF00;color:#fff;}
#my_popup>div:nth-child(3)>i{background:#006DD9;color:#fff;}

#my_rightPop{width:100%;height:100%;background:#000;padding-top:15rem;}
#my_rightPop div{text-align:center;}
#my_rightPop>div:nth-child(1)>i{font-size:8rem;color:#006DD9;}
#my_rightPop>div:nth-child(2){font-size:1.5rem;color:#fff;line-height:2rem;}
#my_rightPop>div:nth-child(3){margin-top:1rem;}
#my_rightPop>div:nth-child(3)>span{display:inline-block;width:10rem;height:3rem;border:1px solid #fff;border-radius:1.5rem;text-align:center;line-height:3rem;font-size:1rem;color:#fff;}
#my_rightPop>div:nth-child(3)>span:nth-child(2){background:#006DD9;margin-left:1rem;}
