*{margin:0;padding:0;}
ul,li{list-style:none;}
body,html{height:100%;}
#app{height:100%;}
.ls_head{background:#217FBD;height:5.866667rem;padding-top:1.36rem;}
.ls_head .box{width:100%;height:1.626667rem;display:flex;}
.ls_head .box .box1{height:1.626667rem;padding-left:0.533333rem;flex:3;}
.ls_head .box .box1 .usershow{width:1.626667rem;height:1.626667rem;border:0.0216rem solid #fff;border-radius:50%;background:white;padding:0.04rem;}
.ls_head .box .box1 .usershow>span{display:inline-block;width:1.5rem;height:1.5rem;background:#DCDCDC;border-radius:50%;font-size:0.5rem;text-align:center;line-height:1.5rem;}
.ls_head .box .box1 .usershow>span>img{width:1.5rem;height:1.5rem;border-radius:50%;text-align:center;line-height:1.5rem;vertical-align:baseline;}
.ls_head .box .box2{height:1.626667rem;flex:7;padding-right:0.533333rem;}
.ls_head .box .box2>.username_box{text-align:right;font-size:0.4rem;color:#fff;}
.ls_head .box .box2>.username_box>span{display:inline-block;width:2.0rem;height:0.626667rem;border:1px solid #fff;border-radius:0.3133335rem;font-size:0.346667rem;text-align:center;line-height:0.626667rem;}
.ls_head .list{display:flex;height:2.32rem;padding-top:1.133333rem;}
.ls_head .list>div{flex:1;text-align:center;font-size:0.346667rem;line-height:0.6rem;color:white;font-style:normal;}
.ls_head .list>div>i{color:#fff;font-weight:bold;font-size:0.5rem;}



.m_register{height:100%;width:100%;display:flex;flex-direction:column;}
.m_head{background:#217FBD;height:5.866667rem;padding-top:2.36rem;}
.m_head .box{width:100%;height:1.626667rem;display:flex;}
.m_head .box .box1{height:1.626667rem;padding-left:0.533333rem;flex:3;}
.m_head .box .box1 .usershow{width:1.626667rem;height:1.626667rem;border:0.0216rem solid #fff;border-radius:50%;background:white;padding:0.04rem;}
.m_head .box .box1 .usershow>span{display:inline-block;width:1.5rem;height:1.5rem;background:#DCDCDC;border-radius:50%;font-size:0.5rem;text-align:center;line-height:1.5rem;}
.m_head .box .box2{height:1.626667rem;flex:7;display:flex;}
.m_head .box .box2 .z_register{width:2.693333rem;height:0.826667rem;border:0.010933rem solid white;border-radius:0.413333rem;text-align:center;line-height:0.8rem;color:white;margin-top:0.453333rem;font-size:0.32rem;}
.m_head .box .box2 .z_login{width:2.693333rem;height:0.826667rem;border:0.010933rem solid white;border-radius:0.413333rem;text-align:center;line-height:0.8rem;color:white;margin-top:0.453333rem;margin-left:0.266667rem;font-size:0.32rem;}
.m_content{overflow-x:hidden;flex:1;}
.m_content .main{height:100%;}
.m_content .main li{height:1.346667rem;border-bottom:0.013333rem solid #ccc;line-height:1.333333rem;padding-right:0.6rem;padding-left:0.266667rem;font-size:0.333333rem;}
.m_content .main li:nth-child(3){height:1.6rem;border-top:0.133333rem solid #F1F1F1;border-bottom:0.133333rem solid #F1F1F1;}
.m_content .main li>.iconfont{font-size:0.4rem;float:right;}
// .m_content .main li>.gt{float:right;}

#my_popup{width:100%;display:flex;height:3.666667rem;}
#my_popup>div{flex:1;text-align:center;font-size:0.3rem;padding-top:1rem;color:#fff;line-height:0.6rem;}
#my_popup>div>i{display:inline-block;width:1rem;height:1rem;border-radius:50%;font-size:0.5rem;line-height:1rem;text-align:center;}
#my_popup>div:nth-child(1)>i{background:#265CFF;color:#fff;}
#my_popup>div:nth-child(2)>i{background:#40FF00;color:#fff;}
#my_popup>div:nth-child(3)>i{background:#006DD9;color:#fff;}

#my_rightPop{width:100%;height:100%;background:#000;padding-top:6rem;}
#my_rightPop div{text-align:center;}
#my_rightPop>div:nth-child(1)>i{font-size:2rem;color:#006DD9;}
#my_rightPop>div:nth-child(2){font-size:0.4rem;color:#fff;line-height:1rem;}
#my_rightPop>div:nth-child(3){margin-top:1rem;}
#my_rightPop>div:nth-child(3)>span{display:inline-block;width:4rem;height:1rem;border:1px solid #fff;border-radius:0.5rem;text-align:center;line-height:1rem;font-size:0.4rem;color:#fff;}
#my_rightPop>div:nth-child(3)>span:nth-child(2){background:#006DD9;}
