.order_zx{
    height: 4.74rem;
}
.order_containter{
        margin-top: 90px;
        text-align:center;
      position:absolute;
      left: 24%;
      top: 20%;;
        img{
            width:50%;
            display: block;
            margin: 1.8rem auto;
          }
      
}
.mint-tab-item-label{
    font-size: 1.5rem;
}

.mint-tabbar {
    background: #fff;

    .mint-tab-item-label{
        color:#000;
    }
}
.order_spinner{
    display:block;
    position:fixed;
    top: 33%;
    left: 42%;
}
.mint-tab-container{
    margin-top: 90px;
    margin-bottom: 50px;

    .order_list{
        li{
          display:flex;
          padding: 10px;
          border-bottom: 0.1rem solid #ccc;

            .black{
                color: #000;
                font-size: 1.8rem;
                line-height: 2remï¼›
            }
            span{
                color: #A3A3A3;
                font-size: 1.5rem;
            }
            span.name{
                font-size: 1.7rem
            }
        }
    }
}
html::-webkit-scrollbar,
body::-webkit-scrollbar{
    width:0;
    height:0;
}