#app{height:100%;}
input{border:none;outline: none;color:#9D9B9E;}
*{margin:0;padding:0;}
body,html{height:100%;}
.register{height:100%;background:url('../../assets/img/timg.jpg') no-repeat;}
.r_head{display:flex;padding: 0.133333rem 0.4rem;height:1.106667rem;color:#fff;}
.r_head>p{flex:1;}
.r_head>p>span{font-size:0.453333rem;line-height:1.106667rem;}
.r_head>p:nth-child(2){text-align:center;}
.r_head>p:nth-child(3){text-align:right;}
.r_head>p:nth-child(3)>span{font-size:0.333333rem;}
.r_main{padding-top:3.066667rem;} 
.r_main>p{text-align:center;}     
.r_main>p>input{height:1.6rem;width:8.453333rem;border-bottom:0.026667rem solid #fff;padding:0.56rem 0;background:rgba(0,0,0,0);margin:0 auto;color:#fff;font-size:0.466667rem;}
.r_main>p:nth-child(3){text-align:center;font-size:0.36rem;color:#fff;line-height:1.426667rem;}
.r_main>p:nth-child(5){padding-top:0.786667rem;}
.r_main>p:nth-child(6){font-size:0.346667rem;line-height:0.92rem;color:#767982;padding-top:1.12rem;}
.r_main>p:nth-child(7)>i{display:inline-block;width:1.2rem;height:1.2rem;border-radius:50%;text-align:center;line-height:1.2rem;background:#fff;font-size:1.066667rem;}
.r_main>p:nth-child(8)>i{color:#fff;font-size:0.4rem;font-style:normal;}
.r_main>p>button{width:8.453333rem;height:1.36rem;font-size:0.533333rem;line-height:1.36rem;border-radius:0.68rem;background:#515151;color:#fff;}
.r_main>p>a>span{display:inline-block;font-size:0.373333rem;width:4.0rem;height:1.066667rem;border-radius:0.533333rem;border:0.026667rem solid #fff;color:#fff;line-height:1.066667rem;text-align:center;}