#payment_zx{
    background: #FFF;
    color: #000;
}

#pay_container{
    height:21.75rem;
    text-align: center;
    h1{
        font-size: 2rem;
        line-height: 7.8125rem;
        
    }
}
#pay_footer{
    display:flex;
    position:fixed;
    bottom:0;
    width:100%;
    background: #595959;
    color: #fff;

    div{
        width:50%;
        &.pay{
            text-align: right;
        }
        margin: 0.5rem;

    }
    .price{
        color: #F5B23D;

    }
}

