#foot{background:#FEFEFE;height:1.333333rem;border-top:0.013333rem solid #ccc;font-size:0.32rem;}
#foot i{font-size:0.453333rem;}
#foot .index{width:25%;height:1.333333rem;float:left;text-align:center;padding:10px;}
#foot .bestpick{width:25%;height:1.333333rem;float:left;text-align:center;padding:10px;}
#foot .order{width:25%;height:1.333333rem;float:left;text-align:center;padding:10px;}
#foot .my{width:25%;height:1.333333rem;float:left;text-align:center;padding:10px;}